<!DOCTYPE html>

<html>

<head>
    <title>Desafio - Mutant</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="main">
            Sejam bem vindos ao sistema! <br/><br/>
            Para salvamento de logs, espera-se o Elasticsearch rodando na porta 9200!<br/><br/>
            Parte 1 - Serão exibidos os websites de todos os usuários!<br/><br/>
            Parte 2 - Serão exibidos o nome, email e empresa do usuário em ordem alfabética! (ordenado pelo nome)<br/><br/>
            Parte 3 - Serão mostrados todos os usuários que contém a palavra "suite" no endereço!<br/><br/>
        </div>
    </div>

</body>

</html>