<!DOCTYPE html>

<html>

<head>
    <title>Desafio Mutant</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="main parte-2">
            {{#users}}
            <div class="user">
              <span class="username">Name: {{name}}</span><br/>
              <span class="website">E-mail: {{email}}</span><br/>
              <span class="company">Company: {{company}}</span><br/><br/>
            </div>
            {{/users}}
        </div>
    </div>

</body>

</html>