<!DOCTYPE html>

<html>

<head>
    <title>Desafio - Mutant</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="main parte-1">
            {{#users}}
            <div class="user">
                <span class="username">{{name}}</span><br/>
                <span class="website">{{website}}</span><br/><br/>
            </div>
            {{/users}}
        </div>
    </div>

</body>

</html>