<!DOCTYPE html>

<html>

<head>
    <title>Desafio Mutant</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="main parte-3">
            {{#users}}
            <div class="user">
                <span class="username">Name: {{name}}</span><br/>
            </div>
            {{/users}}
        </div>
    </div>

</body>

</html>