<div class="header-container">
    <div class="title">
        <span class="principal">Desafio Mutant</span>
        <span class="secondary">por Victor Matos Watanabe, o melhor candidato!</span>
    </div>
    <div class="links">
        <a href="/">Home</a>
        <a href="/parte1">Parte 1</a>
        <a href="/parte2">Parte 2</a>
        <a href="/parte3">Parte 3</a>
    </div>
</div>