body {
  padding: 0px 150px;
  font-family: sans-serif;
  background-color: #f8f8f8;
}

.title {
  margin: 30px 0px;
}

.header-container {
  position: relative;
  display: block;
}

.principal {
  font-size: 40px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.secondary {
  display: block;
}

.links {
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}

.links a {
  margin-right: 30px;
  color: black;
}

.links a:visited {
  color: black;
}

.main {
  margin-top: 40px;
}